<!-- banner da pagina -->

<body>
  <section class="sobre-nos">
    <div class="imagem-container">
      <img src="/About/logoAbout.png" alt="Imagem Sobre Nós">
    </div>
  </section>

  <!-- texto de apresentação -->
  <div class="sobre-projeto">
    <img src="/Footer/footer.png" alt="Patinhas" class="patinha-esquerda">
    <h2><strong>Sobre Nosso Projeto</strong></h2>
    <div class="paragrafos">
      <p>
        Nosso e-commerce foi criado para facilitar a vida de quem tem um pet e, ao mesmo tempo, apoiar pequenos
        empreendedores do setor. Acreditamos no poder da conexão entre cliente e vendedor local, oferecendo uma
        plataforma simples e acessível.
      </p>
      <p>
        Aqui, você encontra uma variedade de produtos para o seu pet com praticidade, segurança e aquele toque de
        cuidado que só o pequeno negócio oferece. Seja bem-vindo!
      </p>
    </div>
    <img src="/Footer/footer_1.png" alt="Patinhas" class="patinha-direita">
  </div>


  <!-- Dados do projeto -->
  <section class="metricas">
    <div class="metrica">
      <h3>2k+</h3>
      <p>Happy Clients</p>
    </div>
    <div class="metrica">
      <h3>72</h3>
      <p>Brands</p>
    </div>
    <div class="metrica">
      <h3>1.8k+</h3>
      <p>Products</p>
    </div>
    <div class="metrica">
      <h3>28</h3>
      <p>Years in business</p>
    </div>
  </section>



  <!-- Foto dos meliantes -->
  <div class="nossa-equipe">
    <h2 class="linha-premium-title">
      <img src="/Icons/pata_3.png" alt="" class="pata_3">
      <img src="/Icons/osso_4.png" alt="" class="osso_4">
      Nossa Equipe
      <img src="/Icons/coracao.png" alt="" class="coracao">
    </h2>
    <div class="membros">
      <div class="membro">
        <img src="/About/lucas.jpeg" alt="Lucas Peixoto Nunes" />
        <div class="linkd">
          <a href="https://www.linkedin.com/in/lucaspeixoton/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin fa-2x" style="color: #005F83; margin-top: 8px;"></i>
          </a>
          <a class="nome" href="https://www.linkedin.com/in/lucaspeixoton/" target="_blank" aria-label="LinkedIn">Lucas
            Peixoto Nunes</a>
        </div>
      </div>
      <div class="membro">
        <img src="/About/augusto.jpeg" alt="Augusto Domingues" />
        <div class="linkd">
          <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin fa-2x" style="color: #005F83; margin-top: 8px;"></i>
          </a>
          <a class="nome" href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">Augusto Domingues</a>
        </div>
      </div>
      <div class="membro">
        <img src="/About/victor.jpeg" alt="Victor Augusto" />
        <div class="linkd">
          <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin fa-2x" style="color: #005F83; margin-top: 8px;"></i>
          </a>
          <a class="nome" href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">Victor Augusto</a>
        </div>
      </div>
      <div class="membro">
        <img src="/About/caio.jpeg" alt="Caio Vitor de Souza" />
        <div class="linkd">
          <a href="https://www.linkedin.com/in/caioovitoor/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin fa-2x" style="color: #005F83; margin-top: 8px;"></i>
          </a>
          <a class="nome" href="https://www.linkedin.com/in/caioovitoor/" target="_blank" aria-label="LinkedIn">Caio
            Vitor de Souza</a>
        </div>
      </div>
      <div class="membro">
        <img src="/About/Kaique.jpg" alt="Kaique Gonçalves" />
        <div class="linkd">
          <a href="https://www.linkedin.com/in/kaique-gm/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin fa-2x" style="color: #005F83; margin-top: 8px;"></i>
          </a>
          <a class="nome" href="https://www.linkedin.com/in/kaique-gm/" target="_blank" aria-label="LinkedIn">Kaique
            Gonçalves
          </a>
        </div>
      </div>
      <div class="membro">
        <img src="/About/pedro.jpeg" alt="Pedro Henrique" />
        <div class="linkd">
          <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin fa-2x" style="color: #005F83; margin-top: 8px;"></i>
          </a>
          <a class="nome" href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">Pedro Henrique</a>
        </div>
      </div>
      <div class="membro">
        <img src="/About/samuel.jpeg" alt="Samuel" />
        <div class="linkd">
          <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin fa-2x" style="color: #005F83; margin-top: 8px;"></i>
          </a>
          <a class="nome" href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">Samuel Rodrigues</a>
        </div>
      </div>
    </div>
    <img src="/Home/dog_2.png" alt="" class="img_dog">
  </div>

  <section class="testimonials">
    <div class="titulo-comentarios">
      <img src="/Icons/osso_3.png" alt="" class="osso_3">
      <h4>Comentários</h4>
      <img src="/Icons/osso_3.png" alt="" class="osso_5">
    </div>

    <h2>O que dizem sobre nós</h2>

    <input type="radio" name="carousel" id="t-1" checked>
    <input type="radio" name="carousel" id="t-2">


    <div class="slides">
      <div class="slide" id="slide1">
        <div class="text">
          <div class="stars">★★★★★</div>
          <p>Ótima equipe e um site extremamente intuitivo e prático. Se eu estivesse no seu lugar lendo isso agora, com
            certeza contrataria esses caras para fazer o meu site. Se fosse você, eu não pensava duas vezes, hein!</p>
          <p class="name">Alex Gonçalves<br></p>
        </div>
        <div><img class="photo photo1" src="/About/pessoaAleatoria.jpg" alt="random"></div>
      </div>

      <div class="slide" id="slide2">
        <div class="text">
          <div class="stars">★★★★★</div>
          <p>Como CEO dessa empresa eu declaro que essa empresa é a melhor 👍</p>
          <p class="name">Kaique Gonçalves de Mattos<br></p>
        </div>
        <div><img class="photo photo1" src="/About/Kaique.jpg" alt="kaique"></div>
      </div>


    </div>

    <div class="navigation">
      <label for="t-1" class="nav-btn"></label>
      <label for="t-2" class="nav-btn"></label>

    </div>
  </section>
</body>