body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(157deg,
      #D9A441 0%,
      #FFDE59 45%,
      #7AAAC1 50%,
      #2D9CDB 55%,
      #005F83 100%);
  font-family: 'Poppins', sans-serif;
}


.card-container {
  perspective: 1000px;
  width: 320px;
  height: 520px;
  position: relative;
  z-index: 10;
  opacity: 0;
  animation: fadeInAnimation 1.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

/* Estrutura do card */
.card {
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 50px;
}

/* Gira o card quando o perfil for selecionado */
.card-container.flipped .card {
  transform: rotateY(180deg);
}

/* Faces do card (frente e verso) */
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  overflow-y: hidden;
}

.card-face h1 {
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #552A0F;
}

.card-face h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: -10px;
  color: #552A0F;
}

.invalid {
  color: red;
  font-size: 15px;
}

/* texto invicivel */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.form {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #552A0F;
  border-radius: 8px;
  font-size: 16px;
  color: #552A0F;
  background-color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin-bottom: 5px;
}

.form:focus {
  border-color: #C19A6B;
  outline: none;
}

.btnLoginCliente {
  background: linear-gradient(to right, #FFDE59, #D9A441);
  color: #552A0F;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btnLoginCliente:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btnLoginVendedor {
  background: linear-gradient(to right, #005F83, #2D9CDB);
  color: #FFDE59;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btnLoginVendedor:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btnVoltar {
  background: linear-gradient(to right, #552A0F, #8B5E2C);
  color: #FFDE59;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btnVoltar:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botões agrupados */
.button-group_2 {
  display: flex;
  flex-direction: column;
}


.links {
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: #552A0F;
  list-style-type: none;

}

.links li a {
  color: #D9A441;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links li a:hover {
  color: #FFDE59;
  text-decoration: underline;
  cursor: pointer;
}

.erro-login {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}



/* -------------------------------------- */

/* Logo */
.logo,
.logo_sad {
  align-items: center;
}

.logo img {
  position: relative;
  height: 115px;
  width: 115px;
}

.logo_sad img {
  position: relative;
  height: 155px;
  width: 155px;
  margin-bottom: -10px;
}

/* -------------------------------------- */

/* Botões agrupados */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Botão Vendedor */
.btnVendedor {
  background: linear-gradient(to right, #005F83, #2D9CDB);
  color: #FFDE59;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btnVendedor:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------- */

/* Botão Cliente */
.btnCliente {
  background: linear-gradient(to right, #D9A441, #FFDE59);
  color: #005F83;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btnCliente:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------- */


.cliente-icon {
  position: absolute;
  z-index: -1;
  top: -50px;
  left: -170px;
  width: auto;
  height: 275px;
  opacity: 0;
  animation: clienteAnim 4.0s ease-in-out forwards;
  transform: translate(-20px, -28px);
}

.vendedor-icon {
  position: absolute;
  z-index: -1;
  bottom: 80px;
  right: -225px;
  width: auto;
  height: 225px;
  opacity: 0;
  animation: vendedorAnim 4.0s ease-in-out forwards;
  transform: translate(-20px, -28px);
}

@keyframes clienteAnim {
  0% {
    opacity: 0;
    transform: translate(50px, 68px) rotate(-55deg);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) rotate(-55deg);
  }
}

@keyframes vendedorAnim {
  0% {
    opacity: 0;
    transform: translate(-50px, -68px) rotate(70deg);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) rotate(70deg);
  }
}