<body>

    <div class="catalog-container">

        <div class="title">
            <img src="/Footer/footer.png" alt="Patinhas esquerda" class="paw left-paw">
            <h2><img src="/Icons/coracao_1.png" alt="" class="coracao"> Navegue por Categoria <img
                    src="/Icons/search.png" alt="" class="search_icon"></h2>
            <img src="/Footer/footer_1.png" alt="Patinhas direita" class="paw right-paw">
        </div>

        <div class="category-filters">
            <div class="categories" *ngFor="let selectedCategoria of categorias">
                <div class="category-wrapper">
                    <img *ngIf="category === selectedCategoria.categoria" [src]="selectedCategoria.img"
                        class="selected-icon" alt="decorativo" />

                    <button (click)="selectedCategory(selectedCategoria.categoria)"
                        [ngClass]="{ 'selected': category === selectedCategoria.categoria }">
                        {{ selectedCategoria.nome }}
                    </button>
                </div>
            </div>
        </div>

        <!-- Lista de produtos filtrados -->
        <div class="products-grid">

            <!-- Se não achar nenhuma busca -->
            <div *ngIf="filtered.length === 0 && filter.trim()" class="not-found">
                <img src="/Footer/footer.png" alt="Patinhas esquerda" class="paw_1 left-paw_1">

                <div class="container_error">
                    <div class="cat">
                        <img src="/Icons/sad_cat.png" alt="Gatinho triste">
                    </div>
                    <h1>Sem resultados</h1>
                    <p>Oops! Nada encontrado para sua pesquisa.</p>
                    <p>Esse pet correu rápido demais... tente buscar de outro jeito! 🐾🔍</p>
                </div>

                <img src="/Footer/footer_1.png" alt="Patinhas direita" class="paw_1 right-paw_1">


            </div>

            <!-- Se não achar nenhum produto na categoria -->
            <div *ngIf="filtered.length === 0 && category.trim()" class="not-found">
                <img src="/Footer/footer.png" alt="Patinhas esquerda" class="paw_1 left-paw_1">
                <div class="container_error">
                    <div class="cat">
                        <img src="/Icons/sad_cat.png" alt="Gatinho triste">
                    </div>
                    <h1>Nenhum produto</h1>
                    <p>Oops! Não encontramos nada nessa categoria.</p>
                    <p>Parece que esse pet se escondeu... tente outra categoria! 🐱‍👤📦</p>
                </div>

                <img src="/Footer/footer_1.png" alt="Patinhas direita" class="paw_1 right-paw_1">
            </div>


            <div class="cards-container">
                <div class="cards" *ngFor="let produto of filtered" (click)="buy(produto)">
                    <img [src]="produto.Image" alt="">
                    <span class="cora-circular">♡</span>
                    <h3>{{produto.nome}}</h3>
                    <p>{{produto.preco}}</p>
                </div>
            </div>
        </div>
    </div>

</body>