  body {
      font-family: 'Poppins', sans-serif;
  }


  /* Seção "Sobre nós" */
  .sobre-nos {
      margin-top: -11.5%;
      position: relative;
      z-index: 0;
  }

  .imagem-container {
      position: relative;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  }

  .imagem-container img {
      width: 100%;
      height: auto;
  }

  .compre-aqui-btn {
      position: absolute;
      bottom: 3%;
      left: 5%;
      background: linear-gradient(to right, #552A0F, #7F4A2F);
      color: #FFDE59;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      font-size: 35px;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      z-index: 2;
      text-decoration: none;
  }

  .compre-aqui-btn:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* ------------------------------------------------------------------------------------- */

  /* Seção "Categorias" */
  .categorias {
      padding: 50px 30px;
      text-align: center;
      position: relative;
      z-index: 1;
  }

  .categorias h2 {
      background: linear-gradient(to right, #FFDE59, #D9A441);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 32px;
      font-weight: bold;
      margin-top: -95px;
      margin-bottom: -55px;
  }

  .img_dog {
      position: absolute;
      left: -100px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      height: 250px;
      width: 250px;
      z-index: 0;
      pointer-events: none;
  }

  .osso_2 {
      margin-right: -55px;
      height: 200px;
      width: 200px;
      transform: rotate(45deg);
  }

  .pata_2 {
      height: 100px;
      width: 100px;
      transform: rotate(45deg);
  }

  .cards-container-categ {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  }

  .card-categ {
      width: 293px;
      height: 300px;
      background-color: rgba(255, 222, 89, 0.8);
      text-align: center;
      border-radius: 25px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      overflow: hidden;
      position: relative;
  }

  .card-categ img {
      width: 100%;
      height: 220px;
      object-fit: fill;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      display: block;
  }

  .seta-circular {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(217, 164, 65, 0.5);
      color: #005F83;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      font-size: 18px;
      font-weight: bold;
      margin: 5%;
      margin-left: 30%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
  }

  .seta-circular:hover {
      background-color: rgb(217, 164, 65, 0.7);
      cursor: pointer;
  }

  .card-categ h3 {
      text-align: left;
      font-size: 1.1rem;
      margin-top: 5%;
      margin-left: 5%;
      color: #005F83;
      font-weight: bold;
  }

  .card-categ p {
      text-align: left;
      font-size: 1rem;
      margin-left: 5%;
      color: #005F83;
  }

  .card-categ:hover {
      transform: scale(1.05);
      cursor: pointer;
  }

  /* ------------------------------------------------------------------------------------- */

  /* Seção "Linha Premium" */
  .linha-premium {
      padding: 50px 30px;
      text-align: center;
      position: relative;
  }

  .linha-premium h2 {
      position: relative;
      display: inline-block;
      padding: 30px 60px;
      /* espaçamento para os ícones caberem */
      background: linear-gradient(135deg, #FA7268, #FDB99B);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 32px;
      font-weight: bold;
      margin-top: -25px;
  }


  .osso_4 {
      position: absolute;
      height: 100px;
      width: 100px;
      top: 30%;
      left: -6;
      transform: translate(-100%, -50%) rotate(-45deg);
  }

  .coracao {
      position: absolute;
      height: 80px;
      width: 80px;
      top: -15%;
      left: 85%;
      transform: translateX(-50%);
  }

  .cora-circular {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(0, 95, 131, 0.7);
      color: #FA7268;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      font-size: 35px;
      font-weight: bold;
      margin: 4%;
      margin-left: 35%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
  }

  .cora-circular:hover {
      background-color: #005F83;
      cursor: pointer;
  }

  .cards-container-premium {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  }

  .card-premium {
      width: 400px;
      height: 430px;
      background-color: rgb(250, 114, 104, 0.8);
      text-align: center;
      border-radius: 25px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      overflow: hidden;
      position: relative;
  }

  .card-premium img {
      width: 100%;
      height: 350px;
      object-fit: fill;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      display: block;
  }

  .card-premium h3 {
      text-align: left;
      font-size: 1.1rem;
      margin-top: 4%;
      margin-left: 5%;
      color: #005F83;
      font-weight: bold;
  }

  .card-premium p {
      text-align: left;
      font-size: 1rem;
      margin-left: 5%;
      color: #005F83;
      font-weight: bold;
  }

  .card-premium:hover {
      transform: scale(1.05);
      cursor: pointer;
  }

  .img_cat {
      position: absolute;
      left: -110px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      height: 250px;
      width: 250px;
      z-index: 0;
      pointer-events: none;
  }

  /* ------------------------------------------------------------------------------------- */

  /* Seção "Sucesso de Vendas" */
  .sucesso-vendas {
      padding: 50px 30px;
      text-align: center;
      position: relative;
  }

  .sucesso-vendas h2 {
      position: relative;
      display: inline-block;
      padding: 30px 60px;
      background: linear-gradient(135deg, #005F83, #4CAAC2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 32px;
      font-weight: bold;
      margin-top: -25px;
  }

  .osso_3 {
      height: 100px;
      width: 100px;
      left: 10%;
      transform: translate(-100%, -50%) rotate(-45deg);
      position: absolute;

  }

  .coracao_1 {
      position: absolute;
      height: 80px;
      width: 80px;
      top: -15%;
      left: 90%;
      transform: translateX(-50%) rotate(35deg);
  }

  .cards-container-sucess {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  }

  .card-sucess {
      width: 300px;
      height: 400px;
      background-color: rgb(0, 95, 131, 0.8);
      text-align: center;
      border-radius: 25px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      overflow: hidden;
      position: relative;
  }

  .card-sucess img {
      width: 100%;
      height: 320px;
      object-fit: fill;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      display: block;
  }

   .cora-top-circular {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(0, 95, 131, 0.7);
      color: #FFDE59;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      font-size: 35px;
      font-weight: bold;
      margin: 4%;
      margin-left: 35%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
  }

  .cora-top-circular:hover {
      background-color: #005F83;
      cursor: pointer;
  }

  .card-sucess h3 {
      text-align: left;
      font-size: 1.1rem;
      margin-top: 5%;
      margin-left: 5%;
      color: #FFDE59;
      font-weight: bold;
  }

  .card-sucess p {
      text-align: left;
      font-size: 1rem;
      margin-left: 5%;
      color: #FFDE59;
      font-weight: bold;
  }

  .card-sucess:hover {
      transform: scale(1.05);
      cursor: pointer;
  }

  .img_furao {
      position: absolute;
      left: -100px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      height: 200px;
      width: 200px;
      z-index: 0;
      pointer-events: none;
  }