<body>
    <section class="sobre-nos">
        <div class="imagem-container">
            <img src="/Home/home.png" alt="Imagem Sobre Nós">
            <button (click)="comprar()" class="compre-aqui-btn">Compre aqui </button>
        </div>
    </section>

    <!-- Seção "Explore por Categorias" -->
    <section class="categorias">
        <img src="/Home/dog_2.png" alt="" class="img_dog">
        <h2>
            <img src="/Icons/osso_2.png" alt="" class="osso_2">
            Explore por Categorias
            <img src="/Icons/pata_2.png" alt="" class="pata_2">
        </h2>

        <div class="cards-container-categ">
            <div class="card-categ" *ngFor=" let categoria of categorias" (click)="shop(categoria.categoria)">
                <img [src]="categoria.Image" alt="">
                <span class="seta-circular">&#10140;</span>
                <h3>{{categoria.nome}}</h3>
                <p>{{categoria.quant}} Produtos</p>
            </div>
        </div>
    </section>

    <!-- Seção "Linha Premium" -->
    <section class="linha-premium">
        <img src="/Home/cat_3.png" alt="" class="img_cat">
        <h2 class="linha-premium-title">
            <img src="/Icons/osso_4.png" alt="" class="osso_4">
            Linha Premium
            <img src="/Icons/coracao.png" alt="" class="coracao">
        </h2>
        <div class="cards-container-premium">
            <div class="card-premium" *ngFor="let premium of linha_premium" (click)="buy(premium)">
                <img [src]="premium.Image" alt="">
                <span class="cora-circular">♡</span>
                <h3>{{premium.nome}}</h3>
                <p>{{premium.preco}}</p>
            </div>
        </div>
    </section>

    <!-- Seção "Sucesso de Vendas" -->
    <section class="sucesso-vendas">
        <img src="/Home/furao.png" alt="" class="img_furao">
        <h2>
            <img src="/Icons/osso_3.png" alt="" class="osso_3">
            Sucesso de Vendas
            <img src="/Icons/coracao_1.png" alt="" class="coracao_1">
        </h2>
        <div class="cards-container-sucess">
            <div class="card-sucess" *ngFor="let top of top_vendas" (click)="buy(top)">
                <img [src]="top.Image" alt="">
                <span class="cora-top-circular">♡</span>
                <h3>{{top.nome}}</h3>
                <p>{{top.preco}}</p>
            </div>
        </div>
    </section>

</body>